<div>
    <div class="head">
        <div class="headsect">
            <select id="select-type-basic" [(ngModel)]="cloudReport" (change)="onChangeR($event.target.value)">
                <option *ngFor="let status_item of cloudReport_array">
                    {{status_item}}
                </option>
            </select>
        </div>
        <div class="headsect">
            <select id="select-type-basic" [(ngModel)]="groupid" (change)="onChangeGid($event.target.value)">
                <option *ngFor="let groupid of groupid_array">
                    {{groupid}}
                </option>
            </select>
        </div>
        <div class="headsect">
            <!-- <input type="datetime-local" id="fromdate" name="fromdate" onchange="fromdatechange(event.target.value);"> -->
            <!-- <input type="datetime-local" id="todate" name="todate" onchange="todatechange(event.target.value);"> -->
            <input type="text" ngxDaterangepickerMd [locale]="{applyLabel: 'ok', format: 'YYYY-MM-DDTHH:mm'}" startKey="start"
                endKey="end" [(ngModel)]="selected" class="datepicker-calendar-icon" (datesUpdated)="datesUpdated($event)" />
        </div>

    </div>
    <div class="downloadfile">
        <button type="submit" (click)="legADownload()">download</button>
    </div>
</div>
